 .header_body{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100%;
    position:relative;

}  

.header{
    width: 100%;
    height: 90vh;
    margin: 0%;
    padding: 0%;
    background-image: url("E:/web development/react/reactapp/reactappingit/src/Asserts/img2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position: center;
    position: absolute;
}



.letters{
    position: relative;
    top: 20%;
}








