@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');



.body_letters{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    padding: 25px 40px 25px 40px;
    font-size: 20px; 
    font-weight: 900;
}

.typeletter{
    font-weight: 900; 
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color: #fff;
    text-shadow: 0 1px 3px #000;
    letter-spacing: 2px;
}

.letters{
    font-weight: 900; 
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color: #ffffff;
    text-shadow: 0px 1px 3px rgb(0, 0, 0);
    letter-spacing: 2px;

}

.cursor{
    color: red;
    font-weight: bold;

}